<!-- <p>
  login works!
</p> -->

<!DOCTYPE html>
<html >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body  class="col-sm-8 text-left">

<h2 id="loginTital"><b>User Login</b> </h2>


 <!--  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div> -->
<!-- <div *ngIf="showLoginPage"> -->
  <div class="container col-sm-12 " style="text-align: center;">
   <!--  <div class="form-group"></div> -->
   <form [formGroup]="loginCredentials" style="background: azure" >
     <div class="form-group " [ngClass]="{'has-danger':loginCredentials.get('uname').errors}">
    <label for="uname"><b>Username :</b></label>
    <input  type="text" class="form-control " placeholder="Enter Username" name="uname" formControlName="uname" style="width: 50%" required >
  <!--   <div class="invalid-feedback">
        Please provide a valid state.
      </div> -->
  </div>
    <div class="form-group ">
      <label for="password"><b>Password :</b></label>
      <input type="password" class="form-control " placeholder="Enter Password" name="password" formControlName="password" style="width: 50%"  required >
    </div>
    <button type="submit" class="btn btn-success   " (click)="LoginUserSubmit(loginCredentials)"  style="width: 10%" >Login</button><br>
   <!--  <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
    <div >
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
  </form>
  </div>
<!-- </div> -->
</body>
</html>


